{% extends "icalendar/layout.html" %}
{% load static %}
{% block body %}
<br>
<!If the view is rendered with a specific message to the user, display it here>
<h2>{{message}}</h2>

<!The current month and changing month buttons>
<div class="noselect container header">
    <h2 class="d-inline" id="thisMonth">This Month</h2>
    <div class="d-inline" id="monthButtons">
        <button class="btn btn-light d-inline monthButton" id="prevMonth"><span>&lt;</span></button>
        <button class="btn btn-light d-inline monthButton" id="nextMonth"><span>&gt;</span></button>
    </div>
    <div class="d-inline" id="filters">
      Other user events:
      <input type="checkbox" id="hostFilter"></input>
        Low:
      <input type="checkbox" id="lowFilter"></input>
        Medium:
      <input type="checkbox" id="mediumFilter"></input>
        High:
      <input type="checkbox" id="highFilter"></input>
    </div>
</div>

<!Calendar container>
<div class="noselect calendar container">
    <div class="date-grid">
        <!Row for the days of the week names>
        <div class="row day-of-week bg-dark">
            <div class="col">Sunday</div>
            <div class="col">Monday</div>
            <div class="col">Tuesday</div>
            <div class="col">Wednesday</div>
            <div class="col">Thursday</div>
            <div class="col">Friday</div>
            <div class="col">Saturday</div>
        </div>
        <!Rows to cover all of the days in a month>
        <div class="row week 1">
            <button class="col day container" id="1"><table><tr class="date"></tr></table></button>
            <button class="col day container" id="2"><table><tr class="date"></tr></table></button>
            <button class="col day container" id="3"><table><tr class="date"></tr></table></button>
            <button class="col day container" id="4"><table><tr class="date"></tr></table></button>
            <button class="col day container" id="5"><table><tr class="date"></tr></table></button>
            <button class="col day container" id="6"><table><tr class="date"></tr></table></button>
            <button class="col day container" id="7"><table><tr class="date"></tr></table></button>
        </div>
        <div class="row week 2">
            <button class="col day container" id="8"><table><tr class="date"></tr></table></button>
            <button class="col day container" id="9"><table><tr class="date"></tr></table></button>
            <button class="col day container" id="10"><table><tr class="date"></tr></table></button>
            <button class="col day container" id="11"><table><tr class="date"></tr></table></button>
            <button class="col day container" id="12"><table><tr class="date"></tr></table></button>
            <button class="col day container" id="13"><table><tr class="date"></tr></table></button>
            <button class="col day container" id="14"><table><tr class="date"></tr></table></button>
        </div>
        <div class="row week 3">
            <button class="col day container" id="15"><table><tr class="date"></tr></table></button>
            <button class="col day container" id="16"><table><tr class="date"></tr></table></button>
            <button class="col day container" id="17"><table><tr class="date"></tr></table></button>
            <button class="col day container" id="18"><table><tr class="date"></tr></table></button>
            <button class="col day container" id="19"><table><tr class="date"></tr></table></button>
            <button class="col day container" id="20"><table><tr class="date"></tr></table></button>
            <button class="col day container" id="21"><table><tr class="date"></tr></table></button>
        </div>
        <div class="row week 4">
            <button class="col day container" id="22"><table><tr class="date"></tr></table></button>
            <button class="col day container" id="23"><table><tr class="date"></tr></table></button>
            <button class="col day container" id="24"><table><tr class="date"></tr></table></button>
            <button class="col day container" id="25"><table><tr class="date"></tr></table></button>
            <button class="col day container" id="26"><table><tr class="date"></tr></table></button>
            <button class="col day container" id="27"><table><tr class="date"></tr></table></button>
            <button class="col day container" id="28"><table><tr class="date"></tr></table></button>
        </div>
        <div class="row week 5">
            <button class="col day container" id="29"><table><tr class="date"></tr></table></button>
            <button class="col day container" id="30"><table><tr class="date"></tr></table></button>
            <button class="col day container" id="31"><table><tr class="date"></tr></table></button>
            <button class="col day container" id="32"><table><tr class="date"></tr></table></button>
            <button class="col day container" id="33"><table><tr class="date"></tr></table></button>
            <button class="col day container" id="34"><table><tr class="date"></tr></table></button>
            <button class="col day container" id="35"><table><tr class="date"></tr></table></button>
        </div>
        <div class="row week 6">
            <button class="col day container" id="36"><table><tr class="date"></tr></table></button>
            <button class="col day container" id="37"><table><tr class="date"></tr></table></button>
            <button class="col day container" id="38"><table><tr class="date"></tr></table></button>
            <button class="col day container" id="39"><table><tr class="date"></tr></table></button>
            <button class="col day container" id="40"><table><tr class="date"></tr></table></button>
            <button class="col day container" id="41"><table><tr class="date"></tr></table></button>
            <button class="col day container" id="42"><table><tr class="date"></tr></table></button>
        </div>
    </div>
</div>

<!Notes section>
<br>
<div class="container notes">
  <h3>Notes</h3>
  <textarea id="monthNotes" rows="10"></textarea>
  <button class="btn btn-primary" id="saveNotes">Save</button>
</div>

<!Modal for event generation>
<div class="modal fade" id="eventModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">New event</h5>
          <button type="button" class="close btn" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <!If the user is logged in, display the form>
          {% if user.is_authenticated %}
          <form id="eventForm" action="{% url 'post' %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
              <label for="title" class="col-form-label">Title:</label>
              <input type="text" class="form-control" id="title" name="title">
            </div>
            <div class="form-group">
              <label for="description" class="col-form-label">Description:</label>
              <textarea class="form-control" id="message-text" name="description"></textarea>
            </div>
            <div class="form-group">
              <label for="start-time" class="col-form-label">Start Time:</label>
              <input type="time" class="form-control" id="start-time" name="start-time"></input>
              <label for="end-time" class="col-form-label">End Time:</label>
              <input type="time" class="form-control" id="end-time" name="end-time"></input>
            </div>
            <div class="form-group">
              <label for="date" class="col-form-label">Day:</label>
              <input type="date" class="form-control" id="date" name="date"></input>
            </div>
            <br>
            <div class="form-check">
              <label for="task" class="form-check-label">Task</label>
              <input type="checkbox" class="form-check-input" id="task" name="task"></input>
            </div>
            <!For each user, add them as an option for sharing events>
            <div class="form-group">
              <label for="users" class="col-form-label">Other Users:</label>
              <input type="hidden" value="{{user.id}}" name="host"></input>
              <select class="form-select" multiple id="users" name="users">
                {% for account in users %}
                <option value="{{account.id}}">{{account.username}}</option>
                {% endfor %}
              </select>
            </div>
            <div class="form-group">
              <label for="tagPicker" class="col-form-label">Tag</label>
              <select class="form-select" id="tagPicker" name="tag">
                <option value="LO">Low</option>
                <option value="ME">Medium</option>
                <option value="HI">High</option>
              </select>
            </div>
            <div class="modal-footer">
              <button type="button" class="close btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </form>
          {% else %}
          <h2>Please sign in to create events</h2>
          <br>
          <a class="btn btn-primary {% if nbar == 'login' %}active{% endif %}" href="{% url 'login' %}">Login</a>
          <a class="btn btn-primary {% if nbar == 'register' %}active{% endif %}" href="{% url 'register' %}">Register</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

  <!Modal for event details>
  <div class="modal fade" id="eventDetailsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"></h5>
          <button type="button" class="close btn" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p class="modal-description"></p>
          <label for="starttime" class="label">Start time:</label>
          <time class="modal-starttime" id="startime"></time>
          <br>
          <label for="endtime" class="label">End time:</label>
          <time class="modal-endtime" id="endtime"></time>
          <br>
          <label for="tag" class="label" id="taglabel">Tag:</label>
          <button type="button" class="" id="tag">Priority</button>
          <br>
          <label for="taskcompleted" class="label" id="taskcompletedlabel">Task completed:</label>
          <input type="checkbox" class="modal-taskcompleted" id="taskcompleted" name="taskcompleted"></input>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
