{% extends "icalendar/layout.html" %}
{% load static %}
{% block body %}
<br>
<h2>{{message}}</h2>
<div class="noselect container header">
    <h2 class="d-inline" id="thisMonth">This Month</h2>
    <div class="d-inline" id="monthButtons">
        <button class="btn btn-light d-inline monthButton" id="prevMonth"><span>&lt;</span></button>
        <button class="btn btn-light d-inline monthButton" id="nextMonth"><span>&gt;</span></button>
    </div>
</div>
<div class="noselect calendar container">
    <div class="date-grid">
        <div class="row day-of-week bg-dark">
            <div class="col">Sunday</div>
            <div class="col">Monday</div>
            <div class="col">Tuesday</div>
            <div class="col">Wednesday</div>
            <div class="col">Thursday</div>
            <div class="col">Friday</div>
            <div class="col">Saturday</div>
        </div>
        <div class="row week 1">
            <button class="col day" id="1">1</time></button>
            <button class="col day" id="2">2</time></button>
            <button class="col day" id="3">3</time></button>
            <button class="col day" id="4">4</time></button>
            <button class="col day" id="5">5</time></button>
            <button class="col day" id="6">6</time></button>
            <button class="col day" id="7">7</time></button>
        </div>
        <div class="row week 2">
            <button class="col day" id="8">8</time></button>
            <button class="col day" id="9">9</time></button>
            <button class="col day" id="10">10</time></button>
            <button class="col day" id="11">11</time></button>
            <button class="col day" id="12">12</time></button>
            <button class="col day" id="13">13</time></button>
            <button class="col day" id="14">14</time></button>
        </div>
        <div class="row week 3">
            <button class="col day" id="15">15</time></button>
            <button class="col day" id="16">16</time></button>
            <button class="col day" id="17">17</time></button>
            <button class="col day" id="18">18</time></button>
            <button class="col day" id="19">19</time></button>
            <button class="col day" id="20">20</time></button>
            <button class="col day" id="21">21</time></button>
        </div>
        <div class="row week 4">
            <button class="col day" id="22">22</time></button>
            <button class="col day" id="23">23</time></button>
            <button class="col day" id="24">24</time></button>
            <button class="col day" id="25">25</time></button>
            <button class="col day" id="26">26</time></button>
            <button class="col day" id="27">27</time></button>
            <button class="col day" id="28">28</time></button>
        </div>
        <div class="row week 5">
            <button class="col day" id="29">29</time></button>
            <button class="col day" id="30">30</time></button>
            <button class="col day" id="31">31</time></button>
            <button class="col day" id="32">32</time></button>
            <button class="col day" id="33">33</time></button>
            <button class="col day" id="34">34</time></button>
            <button class="col day" id="35">35</time></button>
        </div>
        <div class="row week 6">
            <button class="col day" id="36">36</time></button>
            <button class="col day" id="37">37</time></button>
            <button class="col day" id="38">38</time></button>
            <button class="col day" id="39">39</time></button>
            <button class="col day" id="40">40</time></button>
            <button class="col day" id="41">41</time></button>
            <button class="col day" id="42">42</time></button>
        </div>
    </div>
</div>

<div class="modal fade" id="eventModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">New event</h5>
          <button type="button" class="close btn" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          {% if user.is_authenticated %}
          <form id="eventForm" action="{% url 'post' %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
              <label for="title" class="col-form-label">Title:</label>
              <input type="text" class="form-control" id="title" name="title">
            </div>
            <div class="form-group">
              <label for="description" class="col-form-label">Description:</label>
              <textarea class="form-control" id="message-text" name="description"></textarea>
            </div>
            <div class="form-group">
              <label for="start-time" class="col-form-label">Start Time:</label>
              <input type="time" class="form-control" id="start-time" name="start-time"></input>
              <label for="end-time" class="col-form-label">End Time:</label>
              <input type="time" class="form-control" id="end-time" name="end-time"></input>
            </div>
            <div class="form-group">
              <label for="date" class="col-form-label">Day:</label>
              <input type="date" class="form-control" id="date" name="date"></input>
            </div>
            <br>
            <div class="form-check">
              <label for="task" class="form-check-label">Task</label>
              <input type="checkbox" class="form-check-input" id="task" name="task"></input>
            </div>
            <div class="form-group">
              <label for="users" class="col-form-label">Other Users:</label>
              <input type="hidden" value="{{user.id}}" name="host"></input>
              <select class="custom-select select" multiple id="users" name="users">
                {% for account in users %}
                <option value="{{account.id}}">{{account.username}}</option>
                {% endfor %}
              </select>
            </div>
            <div class="modal-footer">
              <button type="button" class="close btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </form>
          {% else %}
          <h2>Please sign in to create events</h2>
          <br>
          <a class="btn btn-primary {% if nbar == 'login' %}active{% endif %}" href="{% url 'login' %}">Login</a>
          <a class="btn btn-primary {% if nbar == 'register' %}active{% endif %}" href="{% url 'register' %}">Register</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}