.day {
    aspect-ratio: 1/1;
    background-color:whitesmoke;
    border:solid lightgrey 1px;
    display: inline-flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 2px;
}

.day-of-week > .col {
    aspect-ratio: 6/1;
    border:solid lightgrey 1px;
    color: white;
}

.monthButton {
    margin: 5px;
    margin-bottom: 10px;
    border: 2px solid grey;
    aspect-ratio: 3 / 2;
    justify-content: center;
    align-items: center;
}

.header {
    padding: 2px;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }

  /*#monthButtons {
      justify-content:end;
  }*/

  #logoutButton {
      margin-right: 10px;
  }