.day {
    aspect-ratio: 1/1;
    background-color:whitesmoke;
    border:solid lightgrey 1px;
    display: inline-flex;
    padding-top: 2px;
    /*justify-content: center;*/
}

.day-of-week > .col {
    aspect-ratio: 6/1;
    border:solid lightgrey 1px;
    color: white;
}

.monthButton {
    margin: 5px;
    margin-bottom: 10px;
    border: 2px solid grey;
    aspect-ratio: 3 / 2;
    justify-content: center;
    align-items: center;
}

.header {
    padding: 2px;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

#logoutButton {
    margin-right: 10px;
}

.select {
  width: 150px;
}

.dot {
    height: 25px;
    width: 25px;
    background-color: blue;
}

.event {
    width: 100%;
    padding: 0px;
    justify-content: left;
    align-content: left;
    display: inline-block;
}

.event-title {
    /*padding: 1px 2px 1px 2px;*/
    font-size: small;
    user-select: none;
}

.invisible {
    display: none;
}

table {
    width: 100%;
    margin: 0;
}

#monthNotes {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

#saveNotes {
    margin: 2px 0px 5px 0px;
}